<h1>Enter a new link:</h1>
<form action="/links" method="post">
  <label for="title">
    Enter a title for the website:
    <input type="text" name="title" id="title">
  </label>
  <label for="url">
    Enter the website's url:
    <input type="text" name="url" id="url">
  </label>
  <label for="tag">
    Enter the bookmark's tag:
    <input type="text" name="tag" id="tag">
  </label>
  <input type="submit" value="Submit">
</form>
